@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>this website is ment to keep track of all employees and there pay just click the emplyoees tab to get started.</p>
</div>
